img{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-right: 100px;
    object-fit: contain;
}
.bdy{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Title{
    font-size: 12px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(33, 33, 33);
}
a.TButton{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.TButton:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.IButton{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.IButton:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.DButton{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.DButton:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


a.srs{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.srs:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.requirements{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
    margin-top: 10px;
    margin-bottom: 10px;
}
a.requirements:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.usecase{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.usecase:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.class{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.class:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.sequence{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.sequence:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a.present{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: initial;
    transition-duration: 5ms;
}
a.present:hover{
    background-color: rgb(255, 205, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Links{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.Links h1{
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: green;
}
.Links p{
    font-size: 14px;
}
body{
    text-align: center;
    background-image: url("tester-background.jpg");
}